

body {
    background: rgb(218, 220, 224);
}

textarea {
	resize: none;
	height: 50em;
	width: 100em;
	margin-bottom: 20px;
	outline: none;
}

button {
    margin-top: 100px;
    margin-right: 5px;
}


div.col-sm-10.md-10.lg-10.d-flex.justify-content-start {
    padding-right: 5px;
    margin-top: 20px;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
/*scrollbar-track*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
 
/*scrollbar-thumb*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(211,211,211,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
